{{define "navbar"}}
   
   <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">New Posts</a></li>
        <li><a href="contact.asp">Most Likes</a></li>
        <li><a href="./signUp.html">Sign Up</a></li>
        <li><a href="./auth.html">Sign In</a></li>
        <li style="float:right"><a class="active" href="about.asp">Exit</a></li>
    </ul>

{{end}}