<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/style/style.css" type="text/css">
</head>


<!-- <header>
    <h1><a href='/'>Snippetbox</a></h1>
</header>
<nav>
    <a href='/'>Домашняя страница</a>
</nav> -->
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/post/create">New Posts</a></li>
        <li><a href="/post/all">All Post</a></li>
        <li style="float:right"><a href="./signUp.html">Sign Up</a></li>
        <li style="float:right"><a href="./singIn.html">Sign In</a></li>
        <li style="float:right"><a class="active" href="about.asp">Exit</a></li>
      </ul>






    <h1>all Post</h1>
    {{range .  }}
    <option value="{{.ID}}">{{.Title}}</option>
    {{end}}
</body>
</html>