<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/style/style.css" type="text/css">
</head>

<body>
    <header>
        <ul class="ulHeader">
            <li><a href="/">Home</a></li>
            <li><a href="/post/create">New Posts</a></li>
            <li style="float:right"><a href="/logout">Exit</a></li>
            <li style="float:right"><a href="/signup" class="sign">Sign Up</a></li>
            <li style="float:right"><a href="/signin" class="sign">Sign In</a></li>
        </ul>
    </header>
    <div class="wrapper">
        <div class="Navbar">
            
            <ul class="ulNavbar">
                {{range .List}}
                <a href="/filter/category?id={{ .ID}}">

                    <li>
                        {{ .Title }}
                    </li>
                </a>
                {{end}}
            </ul>
            
        </div>


        <div class="container">
            <div>
                <h1 class="title">Posts</h1>
            </div>

            <div class="grid-container">
                {{range .Post}}
                <div class="card">
                   
                    <a href="/post?id={{ .ID}}">

                        <h1>
                            
                            TItle: {{ .Title }}
                        </h1>
                    </a>
                    <a href="/post?id={{ .ID}}">
                     
                        <h1>
                           Post: {{ .Text }}
                        </h1>
                    </a>
                </div>
                {{end}}

            </div>
        </div>
    </div>
    <script>

        var list = document.querySelector('ulNavbar');
        list.addEventListener('click', function (ev) {
            if (ev.target.tagName === 'li') {
                ev.target.classList.toggle('checked');
            }
        }, false);
    </script>
</body>

</html>