<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/style/signUp.css" type="text/css">
</head>
<body>
    <h1>Sign Up</h1>
    <form method="POST" action="/signup">
        <label for="email"><b>Email</b></label><br>
        <input type="text" name="email"><br>
    
        <label for="username"><b>Username</b></label><br>
        <input type="text" name="username"><br>

        <label for="password"><b>Password</b></label><br>
        <input type="password" name="password"><br>
    
        <label for="repassw"><b>Repeat password</b></label><br>
        <input type="password" name="repassw"><br>
        <button type="submit" class="button-23" role="button">Confirm</button> 
</form>
        <div class="buttons">
            <a href="/"><button class="button-23">Home</button></a>
           
        </div>

</body>
</html>

