<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreatePost | Forum</title>
    <link rel="stylesheet" href="../../static/style/signUp.css" type="text/css">
</head>
<body>
    <div>
        <h1>Create a New Post</h1>
    <form method="POST" action="/post/create">
        <label for="title"><b>Title</b></label><br>
        <input type="text" name="title"><br>
        <label for="content"><b>Content</b></label><br>
        <textarea rows="15" cols="60" name="text"></textarea><br>
        
        <label for="categories">Categories</label><br>
        <select size="3" multiple id="categories "name="categories">
          {{range .  }}
          <option value="{{.ID}}">{{.Title}}</option>
          {{end}}
        </select><br>
        
    </form>
    <a href="/"><button class="button-23">Home</button></a>
    <button type="submit" class="button-23">Create</button> 
</div>
    
</body>
</html>