<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreatePost | Forum</title>
    <link rel="stylesheet" href="./post.css" type="text/css">
</head>
<body>

    <h1>all Post</h1>



    <div>

        <h1 class="logo_text">Title: {{ .Title }}</h1>
        <h1 class="logo_text">Text: {{ .Text }}</h1>
        <h1 class="logo_text">Date: {{ .Date}}</h1>
        <h1 class="logo_text">Like: {{ .Like }}</h1>
        <h1 class="logo_text">Dislike: {{ .Dislike}}</h1>
        <h1 class="logo_text" style="text-align: center">Label:</h1>
        
        {{range .Categorys}}
        <h2 class="logo_text">{{ .Title }}</h2>
        {{end}}        
       
    </div>




</body>
</html>